* {
  --body-background-color: #1e90ff;
  --nav-backgrong-color: #F5A622;
}
body {
  background-color: var(--body-background-color);
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

body a {
  background-color: lightyellow;
  color: black;
  border: .3rem solid gold;
  padding: .3rem .9rem;
  display: inline-block;
}

.title {
  text-align: center;
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: space-around;
}

aside {
  max-width: 20rem;
  background-color: var(--nav-backgrong-color);
  font-size: large;
  margin-left: 3rem;
}
aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside ul li {
  padding: .6rem .9rem;
}
aside ul li a {
  display: inline-block;
  min-width: 15rem;
  background-color: azure;
  color: grey;
  border: .3rem solid rgb(0, 81, 168);
  border-radius: .3rem;
  padding: .3rem .6rem;
  text-decoration: none;
  margin-left: .6rem;
}
aside ul li a:hover {
  background-color: #2288f5;
  color: white;
}