<template>
  <div class="post">
    <h1>List of posts</h1>
    <post-list v-bind:posts="posts" />
  </div>
</template>

<script>
import PostList from '../components/PostList.vue';
export default {
  components: { PostList },
  name: "Posts",
  data() {
    return {
      posts: {},
    };
  },
  async created() {
    const response = await fetch(`${process.env.VUE_APP_BASE_API_URL}/post`);
    const data = await response.json();
    this.posts = data;
  },
};
</script>