<template>
  <div class="login">
    <h3>Login</h3>
    <form @submit.prevent="login">
      <label for="email">email</label>
      <input
        type="email"
        name="email"
        placeholder="email"
        required
        v-model="email"
      />
      <label for="password">password</label>
      <input
        type="password"
        name="password"
        placeholder="password"
        required
        v-model="password"
      />
      <button type="submit">Login</button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    login: function () {
      this.$store
        .dispatch("login", {
          email: this.email,
          password: this.password,
        })
        .then(() => this.$router.push("/posts"))
        .catch((err) => console.error(err));
    },
  },
};
</script>

<style>
</style>