<template>
  <section>
    <p>UserId: {{ post.userId }}</p>
    <p>Id: {{ post.id }}</p>
    <p>Title: {{ post.title }}</p>
    <p>Body: {{ post.body }}</p>
  </section>
</template>

<script>
export default {
  name: "PostItem",
  props: ["post"],
};
</script>

<style>
</style>