<template>
  <section>
    <h3>Post List</h3>
    <section>
      <div v-for="post in posts" v-bind:key="post.id">
        <post-item v-bind:post="post" />
      </div>
    </section>
  </section>
</template>

<script>
import PostItem from "./PostItem.vue";
export default {
  name: "PostList",
  props: ["posts"],
  components: { PostItem },
};
</script>

<style>
</style>